- let socialsList = ['ok', 'vk', 'inst', 'fb']

-
	let nav = [
		'Электронная медицинская карта',
		'Подбор врача',
		'Организация медицинской помощи',
		'Санаторно-курортное лечение',
		'Экспертиза качества лечения'
	]

-
	let preview = [

		{
			size: true,
			title: 'Новые медицинские сервисы',
			description: [
				'Все что нужно для получения своевременной, качественной и эффективной медицинской помощи'
			],
			imgUrl: './web/images/content/preview/prev1.png'
		},
		{
			size: true,
			title: 'Организация медицинской помощи',
			description: [
				'Планирование диагностики, реабилитации и медицинской помощи на любом этапе лечения'
			],
			imgUrl: './web/images/content/preview/prev2.png'
		},
		{
			size: true,
			title: 'Подбор врача онлайн',
			description: [
				'Найти врача по профилю лечения и записаться на прием в удобное для Вас время'
			],
			imgUrl: './web/images/content/preview/prev3.png'
		},
		{
			size: true,
			title: 'Подбор санаторно-курортного лечения',
			description: [
				'Найти подходящий санаторий с лучшими условиями и лечебными процедурами'
			],
			imgUrl: './web/images/content/preview/prev4.png'
		},
		{
			size: true,
			title: 'Электронная медицинская карта',
			description: [
				'История здоровья для Вас, Ваших детей и родителей в современном формате'
			],
			imgUrl: './web/images/content/preview/prev5.png'
		},
		{
			size: true,
			title: 'Экспертиза качества медицинской помощи',
			description: [
				'Проверка качества оказанной Вам медицинской помощи'
			],
			imgUrl: './web/images/content/preview/prev6.png'
		},
		/* small items */
		{
			size: false,
			title: 'ИНКО-МЕД СЕРВИС',
			description: [
				'Мы делаем современную медицину доступной каждому:',
				'Организуем и сопровождаем лечение,  ведем электронные медицинские карты, подбираем лучших специалистов и санатории',
				'Решаем любые медицинские проблемы, опираясь на 25-летний опыт медицинской страховой компании ИНКО-МЕД'
			],
			imgUrl: './web/images/content/preview/prev7.png'
		},
		{
			size: false,
			title: 'Что такое электронная медицинская карта',
			description: [
				'Иформация о Вашем здоровье в удобном формате с доступом 24/7',
				'Храните все данные о состоянии вашего здоровья, осмотрах, анализах и назначениях в электронной медицинской карте',
				'Ваш персональный ассистент может внести данные с накопившихся бумажных заключений в электронную медицинскую карту'
			],
			imgUrl: './web/images/content/preview/prev8.png'
		},
		{
			size: false,
			title: 'Что такое электронная медицинская карта',
			description: [
				'Это заключение о выявленных нарушениях при оказании медицинской помощи, в том числе своевременности ее оказания, правильности выбора методов профилактики, диагностики, лечения и реабилитации, степени достижения запланированного результата.',
				'При необходимости организуем участие врача-эксперта в судебном заседании.'
			],
			imgUrl: './web/images/content/preview/prev9.png'
		},
	]

-
	let stages = [
		{
			title: 'Консультация врача',
			text: 'Подберем специалиста и запишем на прием'
		},
		{
			title: 'Анализы и обследования',
			text: 'Составим программу обследования и диагностики'
		},
		{
			title: 'Профилактика заболеваний',
			text: 'Разработаем рекомендации по сохранению здоровья'
		},
		{
			title: 'Дневной стационар и госпитализация',
			text: 'Обеспечим пребывание и необходимые условия'
		},
		{
			title: 'Лечение и операция',
			text: 'Организуем консервативное лечение или операцию '
		},
		{
			title: 'Контроль лечения',
			text: 'Проанализируем результаты и оценим эффективность'
		},
		{
			title: 'Реабилитация',
			text: 'Спланируем восстановление'
		},
		{
			title: 'Наблюдение и контроль состояния здоровья',
			text: 'Разработаем персональную программу плановой диагностики '
		},
	]

-
	let services = [
		{
			title: 'Электронная медицинская карта',
			description: 'История здоровья для Вас, Ваших детей и родителей в современном формате',
			imgUrl: './web/images/content/services/services1.png'
		},
		{
			title: 'Организация медицинской помощи',
			description: 'Спланировать поход к врачу, обследование, операцию или реабилитацию',
			imgUrl: './web/images/content/services/services2.png'
		},
		{
			title: 'Экспертиза качества лечения',
			description: 'Проверить качество оказанной Вам медицинской помощи',
			imgUrl: './web/images/content/services/services3.png'
		},
		{
			title: 'Подбор врача',
			description: 'Найти врача любой специальности и записаться на прием',
			imgUrl: './web/images/content/services/services4.png'
		},
		{
			title: 'Санаторно-курортное лечение',
			description: 'Подобрать и забронировать санаторий с лечебными процедурами',
			imgUrl: './web/images/content/services/services5.png'
		},
	]

-
	let functionals = [
		{
			imgUrl: './web/images/content/functional/func1.png',
			title: 'Анамнез',
			text: 'Основные показатели Вашего здоровья - группа крови и резус-фактор, артериальное давление, аллергии, перенесенные операции, хронические и инфекционные заболевания'
		},
		{
			imgUrl: './web/images/content/functional/func2.png',
			title: 'Вакцинации',
			text: 'Это Ваш электронный прививочный сертификат. Информация о прививках всегда под рукой.'
		},
		{
			imgUrl: './web/images/content/functional/func3.png',
			title: 'Исследования',
			text: 'Результаты диагностических процедур, таких как эндоскопия, рентген, УЗИ и анализы. Любая запись может быть дополнена скан-копией оригинала заключения'
		},
		{
			imgUrl: './web/images/content/functional/func4.png',
			title: 'Госпитализация',
			text: 'В разделе содержится информация о Ваших плановых и внеплановых госпитализациях, диагнозах, эпикризе, с возможностью фильтрации по датам и месту лечения'
		},
		{
			imgUrl: './web/images/content/functional/func5.png',
			title: 'Лекарственные назначения',
			text: 'Загрузите в раздел «Назначения» аннотацию лекарства и рецепты от Вашего лечащего врача и не переживайте, что Вы забудете название препарата, который когда-то Вам помог'
		}
	]

-
	let filterSelect = [
		'Выберите регион, область',
		'Город',
		'Варианты питания',
		'Варианты лечения',
		'Профиль'
	]

-
	let docProfInfo = [
		'Стоматолог', 'Стоматолог-имплантолог', 'Стоматолог-хирург', 'Челюстно-лицевой хирург'
	]

-
	let clinicInfo = [
		'Травмотология и ортопедия ', 'Детская хирургия' , 'Артроскопия' , 'Эндопротезирование' , 'Нейрохирургия'
	]

-
	let hotelInfo = [
		'Лечение органов дыхания' , 'Движения' , 'Зрения' , 'Сердечно-сосудистой системы','Опорно-дигательного аппарата' , 'Профилаткика детской заболеваемости'
	]

-
	let desicions = [
		{ 
			title: 'Электронная медицинская карта',
			descr: 'История здоровья для Вас, Ваших детей и родителей в современном формате',
			btn: 'Получить доступ'
		},
		{ 
			title: 'Организация медицинской помощи',
			descr: 'Спланировать поход к врачу, обследование, операцию или реабилитацию',
			btn: 'Подробнее'
		},
		{ 
			title: 'Подбор врача',
			descr: 'Найти врача любой специальности и записаться на прием',
			btn: false
		},
		{ 
			title: 'Экспертиза качества медицинской помощи',
			descr: 'Проверить качество оказанной Вам медицинской помощи',
			btn: false
		},
		{ 
			title: 'Санаторно-курортное лечение',
			descr: 'Подобрать и забронировать санаторий с лечебными процедурами',
			btn: false
		}
	]

-
	let filterFormContents = [
		{
			title: 'Заявка на организацию медицинской помощи',
			select: false,
			consult: false,
			btn: 'Отправить',
			type: 'Организация медицинской помощи',
		},
		{
			title: 'Подберем врача для Вас',
			select: true,
			consult: false,
			btn: 'Подобрать',
			type: 'Подбор врача онлайн'
		},
		{
			title: 'Подберем санаторно-курортное лечение',
			select: false,
			consult: false,
			btn: 'Подобрать',
			type: 'Подбор санаторно-курортного лечения'
		},
		{
			title: 'Заявка на экспертизу качества лечения',
			select: false,
			consult: true,
			btn: 'Отправить',
			type: 'Экспертиза качества медицинской помощи'
		},
		{
			title: 'Записаться на прием',
			select: false,
			consult: false,
			btn: 'Записаться',
			type: 'Записаться на прием'
		},
	]