section.content-section
	.container
		h2.g-title Выберите свой тариф

		form.calculator
			h5.g-title.g-title--center.calculator__title Внесение данных о Вашем здоровье профессиональным ассистентом
			span.g-seconds.g-seconds--center.calculator__seconds Рекомендуем на начальном этапе использования ЭМК

			.calculator__wrap
				.slider-calc
				span.calculator__price.calculator__min.rub 300
				span.calculator__price.calculator__max.rub 5 000

			.calculator__bottom
				span.calculator__alert 

				p Количество записей:
					span.calculator__count 15

				button.g-btn.g-btn--accent Купить

				p За один год:
					span.rub.calculator__total-price 2 000