section.content-section.question
	.container
		h2.g-title Задайте вопрос нашему консультанту 
		
		button(type='button' data-btn-modal='callback').g-btn Получить бесплатную консультацию
		img(src="./web/images/general/question.png", alt="Задайте вопрос нашему консультанту ")