form.card
	input(type="hidden"  name='id' value='1')
	a(href="#").card__img
		img(src="./web/images/content/hotel.jpg", alt="ЛОК Солнечная")
	.card__row
		a(href="#").g-title ЛОК "Солнечная" 
		
		span.card__second Травмотология и ортопедия · Детская хирургия · Артроскопия · Эндопротезирование · Нейрохирургия
		.card__col
			.card__list
				.card__icon
					+icon('location')
				p Краснодарский край, г. Геленджик,  ул. Туристическая, 19
				
			.card__list
				.card__icon
					+icon('dinner')
				p Без питания, только завтрак, всё включено
		.card__col
			.card__list
				.card__icon
					+icon('hotel')
				ul
					li: a(href="#")  Одноместный стандарт
					li: a(href="#")  Двухместный стандарт
					li: a(href="#")  Трехместный стандарт
					li: a(href="#")  Одноместный люкс
					li: a(href="#")  Двухместный люкс
					li: a(href="#")  Трехместный люкс

		.card__col
			//- span.rub от 2500
			button.g-btn(type='button' data-btn-modal='booking') Подробнее