form.card.card--filter
	.first
		input(type="text" placeholder='ФИО врача, специальность, клиника')

	.form__range
		label.rub-after
			input(type="text" placeholder='от 0' data-name='true')
		.range-filter(data-min='0' data-max='5000')
		label.rub-after
			input(type="text" placeholder='от 2000' data-name='true')
	
	button.g-btn(type='submit') Подобрать