form.card.card--small
	input(type="hidden"  name='id' value='1')
	a(href="#").card__img
		img(src="./web/images/content/room.jpg", alt="Одноместный  стандарт")
	.card__row
		a(href="#").g-title Одноместный <br> стандарт
		span.card__second Площадь 24 М2, Кондиционер, Холодильник, С/у, душ, балкон, две кровати

		.card__col
			span.rub от 2500
			button.g-btn(type='button') Забронировать