extends layout/main

block variables
	-let title = 'Страница 7'

block content
	section.content-section
		.container
			.content-page
				.content-page__header
					h1.g-title.g-title--small ЛОК “СОЛНЕЧНАЯ”
					+cardInfo(hotelInfo)
							
				.content-page__left
					.content-page__sticky
						+cardSlider
						
				.content-page__right
					.content-page__list
						.card__list
							.card__icon
								+icon('location')
							p Краснодарский край, г. Геленджик,  ул. Туристическая, 19
							
						.card__list
							.card__icon
								+icon('hotel')
							ul
								li Варианты питания
								li Варианты размещения
								li Варианты лечения
								li Варианты номера
								
					.content-page__text
						p Одна из лучших здравниц Геленджика – ЛОК «Солнечная» – расположилась в 7 км от шумного центра на берегу Геленджикской бухты. С трех сторон территория ограничена корпусами, а южная сторона через парк выходит на балюстраду городской набережной. И все это в окружении пицундской сосны, кипарисов, платанов и ленкоранской акации.
						br
						p 700 жилых номеров разместились в 4- и 7-этажном корпусах, соединенных крытыми переходами со столовой, лечебным корпусом, бассейном, питьевым бюветом. Отдыхающим предоставляется 3-разовое питание по системе «шведский стол». Дополнительно работает лобби-бар и кафе «Избушка».
						br
						p Для разнообразного досуга гостей проводятся различные развлекательные мероприятия, киносеансы, дискотеки, экскурсии, анимационные программы для детей. Имеются возможности для проведения различного рода бизнес-мероприятий.


			each key in Array(3)
				include components/card-hotel
	include components/callback