extends layout/main

block variables
	-let title = 'Страница 3'

block content
	+preview(preview[2])
	+filterForm(filterFormContents[1])
	include sections/sort-doctor
	include sections/accordion
	include sections/services
	include components/callback
