extends layout/main

block variables
	-let title = 'Страница 6'

block content
	+preview(preview[5])
	+preview(preview[8])
	include sections/experts
	+filterForm(filterFormContents[3])
	include sections/accordion
	include sections/services
	include components/callback