extends layout/main

block variables
	-let title = 'Страница 5'

block content
	+preview(preview[4])
	+preview(preview[7])
	include sections/functional
	include sections/security
	include sections/interface
	include components/calculator
	include sections/accordion
	include sections/services
	include components/callback