extends layout/main

block variables
	-let title = 'Главная'

block content
	+preview(preview[0])
	include sections/desicion
	include sections/professionals
	+preview(preview[6], 'О компании')
	include sections/news
	include sections/parthners
	include sections/map