// .accordion {
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	flex-wrap: wrap;
// 	max-height: 600px;
// 	// columns: 3;
// 	// margin-right: -10px;
// 	// margin-left: -10px;
// 	&::after {
// 		content: "";
// 		display: table;
// 		clear: both;
// 	}

// 	&__col {
// 		float: left;
// 		padding: 0 10px;
// 		margin-bottom: 20px;
// 		width: calc(100% / 3);
// 		// width: 100%;
// 		// &:first-child { height: 500px;}
// 		transition: all ease .2s;
// 	}
// 	&__item {
// 		height: 100%;
// 		padding: 15px;
// 		border-radius: 10px;
// 		background-color: $lightColor;
// 	}
// 	&__content {
// 		transition: all ease .2s;
// 		overflow: hidden;
// 		max-height: 0;
// 	}
// 	span {
// 		font-weight: bold;
// 		cursor: pointer;
// 	}
// 	p {
// 		margin-top: 15px;
// 	}
// }

.accordion {
	transition: all ease .2s;
	
	span {
		position: relative;
		display: block;
		padding-right: 25px;
		width: 100%;
		font-weight: bold;
		cursor: pointer;
		&::after {
			position: absolute;
			display: block;
			content: '';
			top: 6.5px;
			right: 5px;
			width: 15px;
			height: 9px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../images/general/arrow-down.svg');
		}
	}

	&__col {
		margin-bottom: 10px;
		padding: 15px;
		border-radius: 10px;
		background-color: $lightColor;
		width: calc(100% / 3 - 10px);
		transition: .1s;
		&.show {
			z-index: 5;
			.accordion__content { display: block }
			span {
				&::after {
					top: 3.5px;
					transform: rotate(-180deg);
					transform-origin: center center;
				}
			}
		}
		@media screen and (max-width: 991px) {
			width: calc(50% - 10px);
		}
		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
	&__content {
		display: none;
	}
	p {
		margin-top: 15px;
	}
}
