.experts {
	display: flex;
	width: 100%;
	margin-bottom: 35px;
	flex-wrap: wrap;
	justify-content: space-between;
	&__col {
		width:  49%;
		@media screen and (max-width: 767px) {
			width: 100%;
			margin-bottom: 25px;
		}
	}

	
	p {
		font-size: rem(20);
		line-height: 26px;
	}
	li {
		font-size: rem(20);
		line-height: 26px;
	}
}