.interface {
	display: block;
	padding-top: 30px; 
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	overflow: visible;
	img {
		max-width: 100%;
		object-fit: contain;
		object-position: center;
	}
	.swiper-slide {
		transform: scale(.8);
		transition: all ease .2s;
		&.swiper-slide-active {
			 transform: scale(1)
		}
	}
}