// Colors
$white: #fff;
$black: #2B2B2B;

$mainColor: #4267B2;
$accentColor: #FF9314;
$lightColor: #F0F7FF;
$borderColor: #DEEBFE;
$grayColor: #8B8B8B;

$mainHoverColor: #1F4188;
$accentHoverColor: #D97500;

// Sizes
$base-font-size: 16px;

$mobile: 577;
$tablet: 768;
$large: 992;
$desktop: 1199;

$content: 1440px;

// Fonts
$mainFont: 'Jost';