section.content-section
	.container
		h2.g-title Важно знать
		.accordion
			each key in Array(6)
				.accordion__col
					span Кто может обратиться за услугой 
					.accordion__content
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis saepe sequi, ab magnam mollitia maiores! 