section.content-section
	.container
		h2.g-title Лучшие решения
		.desicion.grid
			.desicion__item.grid__item
				h5.g-title Электронная медицинская карта
				p История здоровья для Вас, Ваших детей и родителей <br> в современном формате
				button.g-btn.g-btn--accent Получить доступ

			.desicion__item.grid__item
				h5.g-title Организация медицинской помощи
				p Спланировать поход к врачу, обследование, операцию или реабилитацию
				a(href="#").g-btn.g-btn--accent Подробнее

			a(href="#").desicion__item.grid__item
				h5.g-title Подбор врача
				p Найти врача любой <br> специальности и записаться <br> на прием

			a(href="#").desicion__item.grid__item
				h5.g-title Экспертиза качества медицинской помощи
				p Проверить качество оказанной Вам медицинской помощи

			a(href="#").desicion__item.grid__item
				h5.g-title Санаторно-курортное лечение
				p Подобрать и забронировать санаторий с лечебными процедурами