section.content-section
	.container
		h2.g-title Об экспертах

		.experts
			.experts__col
				p У нас работают лучшие врачи-эксперты, имеющие большой опыт в проведении экспертиз и высокий уровень компетенции.
				br
				p ИНКО-МЕД СЕРВИС проводит экспертизы любой сложности, привлекая лучших врачей любых, даже редких и специфических медицинских специальностей. 
				br
				p При необходимости, возможно проведение медицинских консилиумов для составления максимально полного заключения.
			
			.experts__col
				p Наши специалисты могут:
				br
				ul
					li - проконсультировать о правомерности оказания или неоказания медицинской помощи; 
					li - проанализировать заключение;
					li - состаавить рецензию на уже проведённую медицинскую
					li - защищать Ваши интересы в судебном заседании.
		
		.swiper-container.license-js.license.hidden
			.swiper-wrapper
				each key,idx in Array(6)
					a(href="./web/images/content/lic.jpg" target='_blank' title='Название лиц' data-rel="lightcase:l").swiper-slide
						img(src=`./web/images/content/lic.jpg`, alt="Наши партнеры")

		.text-center
			a(href='#').show-block