section.map
	script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad4521189ae0517cfff5703520047d4608b3bdc2b04f366a9bf1c18c30a9fcce9&width=100%25&height=400&lang=ru_RU&scroll=true')
	.map__info
		h5.g-title Контакты
		a(href="tel:88001004603") 8 800 100-46-03
		a(href="mailto:info@inko-service.ru") info@inko-service.ru
		span Понедельник-пятница 9:00-18:00
		span Воронеж, Платонова, д.14