section.content-section
	.container
		h2.g-title Новости
		.swiper-container.news-js.news
			.swiper-wrapper
				each key in Array(4)
					a(href="#").swiper-slide.news__item
						h5.g-title Альтернативы похода к врачу
						p Сейчас для того, чтобы попасть к врачу, совсем не обязательно сидеть в очереди в клинике. Достаточно просто вызвать врача на дом или связаться с ним по интернету
						span.date 20 ноября 2020
