section.content-section
	.container
		h2.g-title Профессионалы в своем деле
		.swiper-container.professionals-js.professionals
			.swiper-wrapper
				each key in Array(6)
					.swiper-slide
						+smallCard({title: 'Иванова Татьяна Владимировна'})

		.text-center
			a(href="#") Все врачи