section.content-section
	.container
		.security
			img(src="./web/images/general/phone.png", alt="Безопасность")
			.security__info
				h5.g-title Безопасность
				p ИНКО-МЕД СЕРВИС обеспечивает полную конфиденциальность и безопасность данных о состоянии здоровья. 
				p Являемся оператором персональных данных и имеем аттестат соответствия требованиям по безопасности информации.
