footer.footer
	.container
		.footer__col.mobile__change
			h6.g-title О компании
			a(href="#") О компании
			a(href="#") Контакты
			a(href="#") Новости
			a(href="#") Партнеры
		.footer__col
			h6.g-title Для клиентов
			a(href="#") Личный кабинет
			a(href="#") Электронная медицинская карта
			a(href="#") Лицензии и документы
			a(href="#") Порядок получения медицинской помощи
		.footer__col
			h6.g-title Контакты
			a(href="tel:88001004603") 8 800 100-46-03
			a(href="mailto:info@inko-service.ru") info@inko-service.ru
			span Понедельник-пятница 9:00-18:00
			span Воронеж, Платонова, д.14

		.footer__col
			a(href="/").logo
				+icon('logo')
			span © ИНКО-МЕД СЕРВИС 2020